<div class="banner-bottom1">
	<div class="banner-bottom1-grids">
		<div class="col-md-4 banner-bottom1-left banner-bottom1-left1">
			<div class="banner-bottom1-lft">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<h3>Events</h3>
				<p>Get latest update of our events.</p>
			</div>
		</div>
		<div class="col-md-4 banner-bottom1-left">
			<div class="banner-bottom1-lft">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<h3>Services</h3>
				<p>We provide best service to our customers.</p>
			</div>
		</div>
		<div class="col-md-4 banner-bottom1-left banner-bottom1-left2">
			<div class="banner-bottom1-lft">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
				<h3>Gallery</h3>
				<p>See our captured events.</p>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>