

<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
<div class="col-md-12">
<div class="ibox float-e-margins">
    <div class="ibox-title">
    	<h5><%= @admin_gallery.title %></h5>
    	
        <div class="ibox-tools">
            <%= link_to 'Back', admin_galleries_path %>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

<div class="ibox-content">
  <%= image_tag @admin_gallery.pic.url %>
</div>

</div>
</div>
</div>
</div>
