<div class="row">
<div class="col-sm-4">
  <div class="form-group">
    <%= f.text_field :title, :class=>"form-control" %>
  </div>
</div>
<div class="col-sm-1"></div>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.text_field :description, :class=>"form-control" %>
  </div>
</div>

<div class="col-sm-1">
  <%= f.link_to_remove do %>
  <i class="fa fa-trash-o"></i> 
  <% end %>
</div>
</div>
<div class="hr-line-dashed"></div>