<br>
<% if notice %>
  <p class="alert alert-success alert-dismissable">
  	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  	<%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert alert-danger alert-dismissable">
  	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  	<%= alert %>
  </p>
<% end %>
