<div class="footer">
    <div class="pull-right">
        <a href="http://www.bhavishy.com" target="_blank">bhavishy.com</a>
    </div>
    <div>
        <strong>Copyright</strong> Bhavishy Technologies &copy; 2015-2016
    </div>
</div>
