<p id="notice"><%= notice %></p>

<p>
  <strong>Embed:</strong>
  <%= @admin_sharevideo.embed %>
</p>

<%= link_to 'Edit', edit_admin_sharevideo_path(@admin_sharevideo) %> |
<%= link_to 'Back', admin_sharevideos_path %>
